{% extends 'layout.html' %}
{% block titulo %} - INICIO {% endblock %}
{% block contenido %}
<div class="container">
  <div class="row my-4">
      <div class="col">

        <div class="jumbotron">
            <h1 class="display-4">DIPLOMADO PYTHON</h1>
            <p class="lead">Primer Taller con Flask</p>
            <hr class="my-4">
            <p>Para info, haz click en el enlace</p>
            <a class="btn btn-primary btn-lg" href="/info" role="button">ENLACE</a>
        </div>
      
      </div>
  </div>
</div>
{% endblock%}
  